[submodule "graph-node"]
	path = graph-node
	url = https://github.com/graphprotocol/graph-node/
[submodule "contractExample/lib/forge-std"]
	path = contractExample/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
